# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/YazOkulu/FileContentIndex/5c7da566-9b93-4ab5-bb73-3abf57b6efd6.vsidx
.vs/YazOkulu/FileContentIndex/062f1566-6826-47e5-bfe4-f0eeec26e470.vsidx
.vs/YazOkulu/FileContentIndex/062f1566-6826-47e5-bfe4-f0eeec26e470.vsidx
.vs/YazOkulu/FileContentIndex/65bc02cf-f40e-4814-926c-058ddc344773.vsidx
.vs/YazOkulu/FileContentIndex/b834ef38-6ccc-43b6-a707-30b9897caf42.vsidx
.vs/YazOkulu/FileContentIndex/65bc02cf-f40e-4814-926c-058ddc344773.vsidx
.vs/YazOkulu/DesignTimeBuild/.dtbcache.v2
